body {
	background-image: url("unicorn.png");
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: right bottom;
	background-attachment: fixed;
}

/*img {
	background: #cccccc;
}*/